<!-- <ion-header> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>viewbooking</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="border: 1px solid white;height: 100%;  background-image: url(../assets/background2.png)">
    <div style="height: 100%;width: 100%; border: 1px solid white;background-color: white;bottom: 0%;left: 0;position: absolute;border-top-right-radius:20%;" >
     
  <div >

    <ion-grid style="padding-top:10%;padding-bottom:0%;">
      <ion-row>
        <ion-buttons style="color:black">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
      </ion-row>
      <ion-row><h1 style="font-family: Arial, Helvetica, sans-serif;color:#1E3D58 ;">New Bookings</h1></ion-row>
    </ion-grid>
  </div>
      <div style="border:1px solid white;bottom:0%;;position:relative;width:100%;">
        
         <ion-grid>
  
  <ion-row>
    <ion-item  *ngFor="let x of userprofile; let i = index">
      <ion-avatar style="width: 15%;height: 15%;" slot="start">
        <img  [src]="x.img_profile">
      </ion-avatar>
      <ion-label>
        <div>  <span style="font-weight: bold;font-size: 1.5em;">{{x.name}} {{x.surname}}</span></div>
        <div><span style="font-size: 1em;color:rgb(168, 168, 168)" >Email: {{x.email}}</span></div>
        <div><span style="font-size: 1em;color:rgb(168, 168, 168)" >Phone: {{x.phone}}</span></div>
      </ion-label>
    </ion-item>
  </ion-row>
  
           <ion-row>
            <ion-card style="width:100%;left: 0;margin: 0%;">
              <img  style="width:100%;height: 300px;" [src]="image" />
              <div style="position: relative;bottom:18px;z-index: 1;">
           </div>
              <ion-card-header>
                <ion-card-title style="color:#1E3D58;font-weight: bold;">{{categories}}</ion-card-title>
                <ion-card-subtitle>city: {{city}}</ion-card-subtitle>
                <ion-card-subtitle>province: {{province}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
              <ion-grid>
                <ion-row>
                  <span style="color:rgb(126, 126, 231);"><b>Anemities</b></span>
                </ion-row>
                <ion-row *ngFor="let y of amenities">
                  <ion-col size="2">  {{y}}</ion-col>
                </ion-row>
              </ion-grid>
              </ion-card-content>
              <ion-grid style="padding-right: 2%;padding-left: 2%;width: 96%;border:1px solid whitesmoke;border-radius: 15px;background-color: whitesmoke;">
                <ion-row>
                  <span style="color:rgb(126, 126, 231);"><b>Checkin Dates</b></span>
                </ion-row>
                <ion-row>
                  <ion-col>checkin: {{checkin}}</ion-col>
                  <ion-col>timein: {{timein}} </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>checkout: {{checkout}} </ion-col>
                  <ion-col>timeout: {{timeout}}</ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid style="margin-top:2%; padding-right: 2%;padding-left: 2%;width: 96%;border:1px solid whitesmoke;border-radius: 15px;background-color: whitesmoke;">
                <ion-row>
                  <span style="color:rgb(126, 126, 231);"><b>Extras</b></span>
                </ion-row>
                <ion-row>
                  <ion-col><b>Item</b></ion-col>
                  <ion-col><b>Price</b></ion-col>
                  <ion-col><b>Total</b></ion-col>
                  <ion-col><b>space+total</b></ion-col>
                </ion-row>
                <ion-row  *ngFor="let x of extras; let i = index">
                  <ion-col size="3" >{{x.extraAmenities}}</ion-col> 
                  <ion-col size="3" >R{{x.price}} </ion-col> 
                  <ion-col size="3" >R{{x. extrasTotal}}</ion-col> 
                  <ion-col size="3" >R{{x. totalCost}}</ion-col> 
                 </ion-row>
              </ion-grid>
            </ion-card>
           </ion-row>
         </ion-grid>
  
  
          
    
      </div>
  
    </div>
   </div>


  <!-- <ion-grid style="font-size: 0.8em;">
    <ion-row>
      <ion-list>
        <ion-list-header>
         <b>Profile</b>  
        </ion-list-header>

        <ion-item *ngFor="let x of userprofile; let i = index" >
          <ion-avatar slot="start">
            <img [src]="x.img_profile">
        
          </ion-avatar>
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col><h2>{{x.name}}</h2></ion-col>
                <ion-col><h2>{{x.surname}}</h2></ion-col>
              </ion-row>
              <ion-row>
                <h3>Email: {{x.email}} </h3>
              </ion-row>
              <ion-row>
                <h3>phone: {{x.phone}} </h3>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
        <ion-item >
    
  <ion-card  >
    
    
    <img [src]="image" style="width:100%;height: 50%;">
    <ion-card-header>
      <ion-card-title> {{categories}}</ion-card-title>
      <ion-card-subtitle>total: {{category_number}} </ion-card-subtitle>
      <ion-card-subtitle>categories: {{categories}} </ion-card-subtitle>
      <ion-card-subtitle>city: {{city}} </ion-card-subtitle>
      <ion-card-subtitle>province: {{province}} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>


   <ion-grid>
     <ion-row> 
  <ion-col  *ngFor="let y of amenities">
    {{y}}
   </ion-col>
  </ion-row>
</ion-grid> 
   </ion-card-content>
  
  </ion-card>

 -->





<!-- 
            <img [src]="image" style="width:50%;height: 50%;">
        

          <ion-label>
            <h2>Space: {{categories}}</h2>
            <h3>total: {{category_number}} </h3>
            <h3>categories: {{categories}} </h3>
            <h3>city: {{city}} </h3>
            <h3>province: {{province}} </h3>
          </ion-label> -->
        <!-- </ion-item>
</ion-list>
    </ion-row>
    <ion-row>   <b>Date and Time</b>   </ion-row>
    <ion-row >
      <ion-col >checkin: {{checkin}} </ion-col> 
      <ion-col >timein: {{timein}} </ion-col> 
    </ion-row>
    <ion-row >
      <ion-col >checkout: {{checkout}} </ion-col> 
      <ion-col >timeout: {{timeout}} </ion-col> 
    </ion-row>
  </ion-grid>
  <ion-grid >
    <ion-row style="font-size: .9em;font-weight: bold;">   <b>Extras   </b>    </ion-row>
    <ion-row style="font-size: 0.8em;font-weight: bold;" >
     <ion-col  >Extras</ion-col> 
     <ion-col >Price</ion-col> 
     <ion-col >TotalExtras</ion-col> 
     <ion-col >Space()+Extras</ion-col> 
    </ion-row>
  </ion-grid>
  <ion-grid style="font-size: 0.8em;">
   
    <ion-row  *ngFor="let x of extras; let i = index">
     <ion-col size="3" >{{x.extraAmenities}}</ion-col> 
     <ion-col size="3" >R{{x.price}} </ion-col> 
     <ion-col size="3" >R{{x. extrasTotal}}</ion-col> 
     <ion-col size="3" >R{{x. totalCost}}</ion-col> 
    </ion-row>
  </ion-grid> -->

  <div *ngIf="available==0">
    <ion-button >padding booking</ion-button>
    <p>Your are fully booked</p>
  </div>

</ion-content>
